html {
    font-size: 62.5%; /* 62.5% de 16px = 10px */
}

/* Aplica esta configuración a todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem; /* 1.6rem = 16px, 1rem = 10px */
}

:root {
    --background-color: #EEEEEE;
    --button-bg-color: #508C9B;
    --button-bg-hover: #134B70;
    --border-color: #134B70;
    --border-radius: 8px; /* Ejemplo de border-radius */
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--background-color);
}

.box {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-color);;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--button-bg-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-bg-hover);
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Responsive design */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .box {
        flex: 1;
        margin: 10px;
    }

    .button-group {
        justify-content: flex-start;
    }

    button {
        margin-right: 10px;
    }
}
